<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>今日何食べる？</title>
    </head>
    <body>
        <h1>今日何食べる？</h1>
        <h2>以下の料理を差別化する特徴がありません。</h2>
        <% @unidentifiable_features.each do |unidentifiable_feature| %>
            <% unidentifiable_solutions = @features.select{|k,v| v == unidentifiable_feature}.keys %>
            <p><%= unidentifiable_solutions%>を差別化する特徴がありません。</p>
        <% end %>
        <table border="1">
            <tr>
                <th>料理\質問</th>
                <% @questions.each do |q| %>
                <th><%= q.message %></th>
                <% end %>
            </tr>
            <% @features.each do |feature| %>    
                <tr>
                    <th><%= feature.keys %></th>
                    <% feature.each do |f| %>
                        <th><%= f.value %></th>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
    <footer>
        
    </footer>
</html>