<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>今日何食べる？</title>
    </head>
    <body>
        <h1>今日何食べる？</h1>
        <table border="1">
            <tr>
                <th>料理\質問</th>
                <% @questions.each do |q| %>
                <th><% q.message %></th>
                <% end %>
            </tr>
            <% @solutions.each do |s| %>    
                <tr>
                    <th><% s.name %></th>
                    <% s.features.each do |f| %>
                        <th><% f %></th>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </body>
    <footer>
        
    </footer>
</html>